<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EDIT USER</title>
  </head>
  <body>
    <h1>EDIT PROFILE</h1>


  <table>
   <thead>
     <tr>
       <td>First Name</td>
       <td>Last Name</td>
       <td>Email</td>
       <td>Age</td>
     </tr>
   </thead>
   <tbody>
        <tr>
          <form class="" action="/edit/<%= userResults.id%>"method="post">
            <td><input type="text" name="first_name" value=<%=userResults.first_name %>></td>
            <td><input type="text" name="last_name" value=<%=userResults.last_name %>></td>
            <td><input type="text" name="email" value=<%=userResults.email %>></td>
            <td><input type="text" name="age" value=<%=userResults.age %>></td>
            <input type="submit"  value="submit">
          </form>
        </tr>

   </tbody>
 </table>






  </body>
</html>
