<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>USERS PAGE</title>
</head>

<body>
  <div>
    <h1>CREATE USER</h1>
    <table>
     <thead>
       <tr>
         <td>First Name</td>
         <td>Last Name</td>
         <td>Email</td>
         <td>Age</td>
       </tr>
     </thead>
     <tbody>
          <tr>
            <form class="" action="/users/"method="post">
              <td><input type="text" name="first_name" value=<%=userResults.first_name %>></td>
              <td><input type="text" name="last_name" value=<%=userResults.last_name %>></td>
              <td><input type="text" name="email" value=<%=userResults.email %>></td>
              <td><input type="text" name="age" value=<%=userResults.age %>></td>
              <input type="submit"  value="submit">
            </form>
          </tr>

     </tbody>
   </table>


  </div>
  <div>
    <h1>USERS</h1>

    <table>
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Age</td>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < userResults.length; i++){ %>
          <tr>
            <td>
              <a href='/profile/<%= userResults[i].id%>'>
                <%=userResults[i].first_name %>
              </a>
            </td>
            <td>
              <%=userResults[i].last_name %>
            </td>
            <td>
              <%=userResults[i].email%>
            </td>
            <td>
              <%=userResults[i].age %>
            </td>
          </tr>
          <% }; %>

      </tbody>
    </table>
  </div>
</body>

</html>
